<div class="flex">
    <app-sidenav (navClicked)="setNavElements($event)"></app-sidenav>
    <div [ngSwitch]="navElements" class="h-full min-h-screen w-full xl:pl-80 lg:pl-48 pb-2 bg-slate-100 grow flex-col">
        
            <div *ngSwitchCase="'basic-info'">
                <app-basic-info-dashboard ></app-basic-info-dashboard>
            </div>

            <div *ngSwitchCase="'user-accounts'">
                <app-user-accounts-dashboard></app-user-accounts-dashboard>
            </div>
            
            <div *ngSwitchCase="'educations'">
                <app-educations-dashboard></app-educations-dashboard>
            </div>

            <div *ngSwitchCase="'experiences'">
                <app-experiences-dashboard></app-experiences-dashboard>
            </div>

            <div *ngSwitchCase="'projects'">
                <app-projects-dashboard></app-projects-dashboard>
            </div>
        
    </div>
    
</div>


