


    <div class="page font-serif">
        <!-- <header>
            <nav>
                <a (click)="navclick('getAbout')" class="selected">
                    <span class="fas fa-user"></span>
                    <span class="link">About</span>
                </a>
                <a (click)="navclick('getResume')">
                    <span class="fas fa-file"></span>
                    <span class="link">Resume</span>
                </a>
                <a (click)="navclick('getContact')">
                    <span class="fas fa-at"></span>
                    <span class="link">Contact</span>
                </a>
            </nav>
        </header> -->
        <main>
            <section id="presentation" class="profile">
                <!-- <div class="profile-background"></div> -->
                <div class="flex-col mt-12">
                    <div class="self-center border-white relative flex justify-center">
                        <img class="rounded-full h-72 w-72 " src={{gitImg}} alt="name">
                    </div>
                    <div class="mt-4">
                        <div class="profile-name text-xl" id="nombre">{{profileInfo.basicInfo.fullname}}</div>
                        <h2 class="profile-profession">{{profileInfo.basicInfo.email}}</h2>
                        <div class="profile-social" id="profile-social">
                        <!-- <a href="www.dribbble.com" class="fab fa-dribbble"></a> -->
                        <a href="www.twitter.com" class="fab fa-twitter"></a>
                        <a href="www.github.com" class="fab fa-github"></a>
                        <!-- <a href="www.spotify.com" class="fab fa-spotify"></a> -->
                        <a href="www.stackoverflow.com" class="fab fa-stack-overflow"></a>
                    </div>
                    </div>
                    <div class="flex justify-center mt-2">
                        <img src="{{'https://github-readme-stats.vercel.app/api/top-langs?username='+profileInfo.userAccInfo.githubLink+'&show_icons=true&locale=en&layout=compact'}}">
                        <!-- <a href="/myCV.txt" download>DOWNLOAD CV <i class="fas fa-download"></i></a>
                        <a href="#contact">CONTACT ME <i class="fas fa-arrow-right"></i></a> -->
                    </div>
                </div>
                
            </section>





                <section id="about" class="about view">
                    <article class="about-aboutMe">
                        <h3 class="title">About Me</h3>
                        <div class="line-left">
                            <p>{{profileInfo.basicInfo.careerObj}}</p>
                            <!-- <div>
                                <div>
                                    <span>AGE . . . . </span>24
                                </div>
                                <div>
                                    <span>RESIDENCE . . . . </span>USA
                                </div>
                                <div>
                                    <span>FREELANCE . . . . </span>Available
                                </div>
                                <div>
                                    <span>ADDRESS . . . . </span>California, USA
                                </div>
                            </div> -->
                        </div>
                        <img src={{imgSrc}} alt="Name Your Github chart">

                    </article>

                    <div class="w-full flex">
                        <div class="flex-col p-6 border mt-4 rounded shadow-lg bg-white w-full content-center">
                            <h2 class="text-center text-gray-900 text-xl font-semibold leading-tight mb-2">LeetCode Hightlights</h2>
                            <div class="flex gap-4">
                                <div class="p-6 w-full rounded-lg shadow-lg  bg-green-50 ">
                                    <h4 class="text-center text-gray-900  text-xl leading-tight mb-0">{{leetcodeInfo.acceptanceRate}}%</h4>
                                    <h5>Acceptance Rate</h5>
                                </div>
                                <div class=" p-6 w-full rounded-lg shadow-lg bg-teal-50">
                                    <h4 class="text-center text-gray-900 text-xl  leading-tight font-medium mb-2">{{leetcodeInfo.contributionPoints}}</h4>
                                    <h5>Contribution Points</h5>
                                </div>
                                <div class=" p-6 w-full rounded-lg shadow-lg bg-cyan-50">
                                    <h4 class="text-center text-gray-900 text-xl leading-tight font-medium mb-2">{{leetcodeInfo.totalSolved}}</h4>
                                    <h5>Total Solved Problem</h5>
                                </div>
                            </div>

                        </div>
                    </div>


                    <article class="resume-lines">
                        <section class="resume-line line-left">
                            <h4 class="line-down"> <i class="fas fa-briefcase"></i> Experience</h4>
                            <article  *ngIf="profileInfo.experiences.jobRole1" class="line-down">
                                
                                <h5 class="name">{{profileInfo.experiences.jobRole1}}</h5>
                                <h6 class="company">{{profileInfo.experiences.companyName1}}</h6>
                                <p>{{profileInfo.experiences.jobDescription1}}</p>
                            </article>
                            <article  *ngIf="profileInfo.experiences.jobRole2" class="line-down">
                                
                                <h5 class="name">{{profileInfo.experiences.jobRole2}}</h5>
                                <h6 class="company">{{profileInfo.experiences.companyName2}}</h6>
                                <p>{{profileInfo.experiences.jobDescription2}}</p>
                            </article>
                            <article *ngIf="profileInfo.experiences.jobRole3">
                                
                                <h5 class="name">{{profileInfo.experiences.jobRole3}}</h5>
                                <h6 class="company">{{profileInfo.experiences.companyName3}}</h6>
                                <p>{{profileInfo.experiences.jobDescription3}}</p>
                            </article>
                        </section>
                        <section class="resume-line line-left">
                            <h4 class="line-down"> <i class="fas fa-university"></i> Education</h4>
                            <article *ngIf="profileInfo.education.eduLevel1" class="line-down">
                                
                                <h5 class="name">{{profileInfo.education.eduLevel1}}</h5>
                                <h6 class="company">{{profileInfo.education.instName1}}</h6>
                                <p>{{profileInfo.education.eduDescription1}}</p>
                            </article>
                            <article *ngIf="profileInfo.education.eduLevel2" class="line-down">
                                
                                <h5 class="name">{{profileInfo.education.eduLevel2}}</h5>
                                <h6 class="company">{{profileInfo.education.instName2}}</h6>
                                <p>{{profileInfo.education.eduDescription2}}</p>
                            </article>
                            <article *ngIf="profileInfo.education.eduLevel3">
                                
                                <h5 class="name">{{profileInfo.education.eduLevel3}}</h5>
                                <h6 class="company">{{profileInfo.education.instName3}}</h6>
                                <p>{{profileInfo.education.eduDescription3}}</p>
                            </article>
                        </section>
                    </article>

                    <div class="mt-8 mb-8 text-left">
                        <h3 class="title">Projects</h3>
                        <div *ngIf="profileInfo.projects.projectTitle1" class="ml-6">
                            <div class="text-lg mb-2">{{profileInfo.projects.projectTitle1}}</div>
                            <!-- <iframe class="w-5/6 h-64"  src="https://www.youtube.com/embed/8mz0WgZTI9U"  frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> -->
                            <iframe class="w-5/6 h-64"  src="https://www.youtube.com/embed/RenQsbcurEQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                            <div class="text-md mt-2">{{profileInfo.projects.projectDescription1}}</div>

                          
                        </div>
                    </div>

                
                        


                </section>

        </main>
    </div>

