<div class="self-center pt-10 pl-12">
    <h2 class="underline">User Account Info</h2>
    <div class="mb-3 xl:w-5/12">
        <!-- <label for="Full Name" class="form-label inline-block mb-2 text-gray-700">Full Name</label> -->
        <input formControlName="githubLink" type="text" class="form-control block w-full px-3 py-1.5
        text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300
        rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
        id="exampleText0" placeholder="Github Profile Name" />
    </div>
    <div class="mb-3 xl:w-5/12">
        <!-- <label for="Full Name" class="form-label inline-block mb-2 text-gray-700">Full Name</label> -->
        <input formControlName="soLink" type="text" class="form-control block w-full px-3 py-1.5
        text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300
        rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
        id="exampleText0" placeholder="Stack Overflow Profile Name" />
    </div>
    <div class="mb-3 xl:w-5/12">
        <!-- <label for="Full Name" class="form-label inline-block mb-2 text-gray-700">Full Name</label> -->
        <input formControlName="leetcodeLink" type="text" class="form-control block w-full px-3 py-1.5
        text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300
        rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
        id="exampleText0" placeholder="Leetcode Profile Name" />
    </div>
</div>
